<%= link_to bar, class: 'bar-card-link' do %>
  <div class="bar-card">
    <h4><%= bar.name %></h4>
    <p class="bar-games"><%= bar.board_games.count %> games available!</p>
    <p class="bar-address"><%= bar.address %> - <%= bar.city %></p>
  </div>
<% end %>
