<li>
  <%= game.name %> -
  <%= game.min_players %> to <%= game.max_players %> (best with <%= game.optimal_players %>)<br>
  <%= game.min_playing_time %> to <%= game.max_playing_time %> minutes
</li>
